.header {
  display: flex;
  align-items: center;
  padding: 1.5rem 4rem;
  background: var(--color-surface);
  position: sticky;
  top: 0;
}

.nav {
  flex: 1;
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}
.button {
  font-size: 1.5rem;
  font-weight: 600;
}

.navItems li a:hover {
  color: var(--color-text-secondary);
}

.logoContainer {
    flex-basis: 100px;
}

.logo {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.rightContainer{
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cartLogo {
  position: relative;
}

.cartQuantity {
  position: absolute;
  top: 0;
  right: -10px;
  /* z-index: 1; */
  min-width: 20px;
  height: 20px;
  padding: 0px 6px;
  font-size: 0.8rem;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  color: var(--color-background);
  font-weight: 500;
}

.cartDrawerContainer {
  width: 250px;
}