@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
:root {
  
  --color-primary: #1f2937;   
  --color-primary-dark: #111827;

 
  --color-secondary: #64748b;
  --color-secondary-dark: #475569;

  
  --color-background: #fafafa; 
  --color-surface: #ffffff;    

  
  --color-text-primary: #1f2937; 
  --color-text-secondary: #475569; 

  
  --color-success: #22c55e;
  --color-error: #ef4444;

  
  --font-sans: "Inter", sans-serif;
  font-size: 14px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

body {
    font-family: var(--font-sans);
    background-color: var(--color-surface);
    color: var(--color-text-primary);
}

main::-webkit-scrollbar {
  width: 8px;
}

main::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 4px;
}

main {
  overflow-y: auto; 
  scrollbar-gutter: stable; 
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh
}

main {
  flex: 1;
}

.shop {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    padding: 1rem 0.5rem;
    gap: 1rem;
}

.cart {
  flex: 1;
  padding: 1rem 2rem;
}

a{
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
    
    
}